<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> System </title>
</head>

<body>
    <nav>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('login')}}">Login</a>
        <a href="{{url_for('register')}}">Register</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</html>