{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<h2>Welcome to Your Dashboard</h2>
<p>Hello, {{ current_user.username }}!</p>

<h3>Manage Courses</h3>
<ul>
    <li><a href="{{ url_for('enroll') }}">Enroll</a></li>
    <li><a href="{{ url_for('schedule') }}">View Schedule</a></li>
    <li><a href="{{ url_for('withdraw') }}">Withdraw</a></li>
</ul>
{% if current_user.is_admin %}
<h3>Admin Panel</h3>
<ul>
    <li><a href="{{ url_for('manage_courses') }}">จัดการวิชา</a></li>
</ul>
{% endif %}


<p><a href="{{ url_for('logout') }}">Logout</a></p>
{% endblock %}