{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="homepage-container">
    <h1>Welcome To <span class="highlight">PSU Student System</span></h1>
    <p class="subtitle">A Simple and Efficient System for Student Course Management</p>

    <!-- ปุ่มไปยังหน้าหลัก -->
    <div class="btn-container">
        <a href="{{ url_for('register') }}" class="btn-main">Register</a>
        <a href="{{ url_for('login') }}" class="btn-secondary">Login</a>
    </div>
</div>
{% endblock %}